*{
    margin: 0;
    padding: 0;
}

.container{
    padding:0px;
    width: 350px;
    height: 615px;
    margin: auto;
    background-color: rgb(19, 15, 42);
    border-radius: 23px;

}
p{
color: whitesmoke;
}
#inside{
    width: 100%;
    height: 300px;
    margin: auto;
    background-color: whitesmoke;
    position: relative;
    border-radius:/* 0 0px 23px*/ 23px;
    padding:0px;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img{
    width: 100%;
    height: 100%;
}
#logo{
    width: 180px;
    position: relative;
    top: 70px;
    transition: transform .3s;
}
#logo:hover {
    transform: scale(1.2);
 }

.person{
    color: whitesmoke;
    position: relative;
    top: 10px;
    left: 10px;
}
#name{
    font-size: 23px;
    position: relative;
    top: 16px;
    left:0px;
    text-align: center;
}
#designation{
    font-size: 19px;
    width: 100%
    position: relative;
    top: -2px;
    left: 0px;
    text-align: center;
}

#hr{
    height: 3px;
    color: white;
    width: 197px;
    position: relative;
    top: 85px;
    left: 66px;
}

#vr{
    height: 3px;
    color: white;
    rotate: 90deg;
    width: 157px;
    position: relative;
    top: 71px;
    left: 86px;
}


.icons{max-width:240px; margin:0 auto;}
.icons .left{width:50%; text-align:center; border-right:1px solid #fff; border-bottom:1px solid #fff; float: left;
             height: 90px; padding: 30px 0px;}
.icons .right{width:50%;text-align:center; border-right:0px solid #fff; border-bottom:1px solid #fff; float: left;
                height: 90px; padding: 30px 0px;}
.icons .second-div .left, .icons .second-div .right{border-bottom:0px}
.icons img{max-height:40px;}


@media only screen and (max-width: 765px) {
.container{width:100%; padding:0px; height:100vh; border-radius:23px 23px 0 0}
}

@media only screen and (max-width: 168px) {
  [class*="col-"] {
    width: 100%;
  }
  .container{
   width:100%;
   padding:0px;
   }

#inside{ left:inherit;
display: flex;
    justify-content: center;
    align-items: center;
margin:0px; width:100%;}
}
a{
    text-decoration: none !important;
  }

#logo{
     left:0;
     top:0;
    }

#name{left:0}
#designation{width:100%; left:0;}

#call {
    width: 25px;
    position: relative;
        top: 6px;
}

#whatsapp {
        width: 37px;
        position: relative;
        top: -1px;
}

#location{
    width:35px;
    position: relative;
    top: -6px;
}
#mail{
    width: 40px;
    height: 40px;
}


}