<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:spring="">
<head>
<!--    <meta charset="UTF-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
    />
    <link rel="icon" th:href="@{/dg-title-logo.jpg}" type="image/icon type">
    <title>
        DGLiger - Business Card
    </title>
    <link href="../s.css" th:href="@{/s.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="container" id="inside">
        <img class="center" id="logo"  th:src="@{/dgLogo.png}" alt="logo" />
    </div>

    <pre class="person" id="name" th:text="${name}"></pre>
    <pre class="person" id="designation" th:text="${designation}"></pre>



    <div class="icons">
        <div class="first-class">
        <div class="left">
        <a th:href="${callUrl}"><img id="call" th:src="@{/call.png}" alt="call"/></a>
        </div>
            <div class="right">
        <a th:href="${mailUrl}">
            <img id="mail" th:src="@{/mail.png}" alt="mail">
        </a>
            </div>
        </div>
        <div class="second-div">
            <div class="left">
                <a th:href="${whatsappUrl}"><img id="whatsapp" th:src="@{/whatsapp.png}" alt="whatsapp"/></a></div>
            <div class="right"><a href="https://g.page/DGLiger?share" target="_blank"><img  th:src="@{/location.png}" id="location" alt="location"></a></div>

        </div>
        <a href="https://www.dgliger.com/"><p id="footer" class="text-center" th:text="${website}"></p></a>
    </div>
</div>
</body>
</html>
